* {
  font-family: serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  color: white;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

h5 {
  font-size: 24px;
  color: green;
  /*height: 24px;*/
}

body {
  background-color: black;
  color: black;
}

.button {
  padding: 10px;
  background-color: grey;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  transition: 0.5s;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.zero {
  width: 84px;
}

article:last-child {
  background-color: orange;
}
