* {
  font-family: serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  color: white;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

h5 {
  font-size: 24px;
  color: green;
}

body {
  background-color: black;
  color: black;
}

li {
  display: inline-block;
  padding: 10px;
  background-color: grey;
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
}

li:last-child {
  background-color: orange;
}
